<div class="container">
  <h1>Proyectos</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path('ricomida.jpg') %>" class="card-img-top img-fluid" alt="Proyecto 1">
        <div class="card-body">
          <h5 class="card-title">Ricomida</h5>
          <p class="card-text">Pagina dedicada a entregarte ditintos tipo de recetas para tus comidas o postres favoritos,  </p>
          <a href="https://kenomun.github.io/ricomida/#relatedRecipes" class="btn btn-primary" target="_blank">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path('viajes.jpg') %>" class="card-img-top img-fluid" alt="Proyecto 2">
        <div class="card-body">
          <h5 class="card-title">Viajes por Chile</h5>
          <p class="card-text">Información sobre viajes en Chile, con secciones que incluyen una descripción de la empresa, destacados de viaje y un formulario de contacto.</p>
          <a href="https://kenomun.github.io/viajesChile/" class="btn btn-primary"  target="_blank">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path('cupon.jpeg') %>" class="card-img-top img-fluid" alt="Proyecto 3">
        <div class="card-body">
          <h5 class="card-title">Cuppon</h5>
          <p class="card-text">Podras encontrar cupones de descuneto para tus productos favoritos ya sean comida, accesorios o productos para el hogar.</p>
          <a href="https://kenomun.github.io/Desafio_Cuppon/" class="btn btn-primary" target="_blank">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>

